# SQL QUERY

In [6]:
from datetime import datetime

# docker run -p 3306:3306 -e MYSQL_ROOT_PASSWORD=atom_pass -e MYSQL_DATABASE=atom_db -h 127.0.0.1 -d mysql
# mysql -u root -D atom_db -h 127.0.0.1 -p
DB_CONFIG = {
    'username': 'asasgard',
    'password': 'atom_pass',
    'host': '127.0.0.1:3306',
    'dbname': 'atom_db',
}

In [7]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
# mysql+pymysql://username:password@server/db
app.config['SQLALCHEMY_DATABASE_URI'] = f"mysql+pymysql://{DB_CONFIG['username']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}/{DB_CONFIG['dbname']}?charset=utf8"
app.config['SQLALCHEMY_ECHO'] = True
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
app.config['SQLALCHEMY_RECORD_QUERIES'] = True


db = SQLAlchemy(app)

In [8]:
app.config['SQLALCHEMY_DATABASE_URI']

'mysql+pymysql://asasgard:atom_pass@127.0.0.1:3306/atom_db?charset=utf8'

In [12]:
from sqlalchemy import text

# CREATE TABLE teacher (
# 	id INTEGER NOT NULL AUTO_INCREMENT, 
# 	name VARCHAR(80) NOT NULL, 
# 	surname VARCHAR(80) NOT NULL, 
# 	age INTEGER, 
# 	created DATETIME DEFAULT now(), 
# 	updated DATETIME DEFAULT now(), 
# 	PRIMARY KEY (id)
# )

class Teacher(db.Model):
    __table_args__ = {'extend_existing': True}
    
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(80), nullable=False)
    surname = db.Column(db.String(80), nullable=False)
    age = db.Column(db.Integer())
    
    created = db.Column(db.DateTime, default=datetime.now, server_default=text('now()'))
    updated = db.Column(db.DateTime, default=datetime.now, onupdate=datetime.now, server_default=text('now()'))

    def __repr__(self):
        return f'{type(self).__name__} <{self.id}>=<{self.name}>'

In [13]:
db.create_all()

2019-04-17 12:43:51,979 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher`
2019-04-17 12:43:51,984 INFO sqlalchemy.engine.base.Engine {}

In [ ]:
teacher_Amir = Teacher(name='Amir', surname='Safiullin', age=20)
teacher_Zarina = Teacher(name='Zarina', surname='Sayfullina', age=20)
teacher_Misha = Teacher(name='Misha', surname='Baranov', age=20)
teacher_Ilya = Teacher(name='Ilya', surname='Lysko', age=20)

db.session.add(teacher_Amir)
db.session.add(teacher_Zarina)
db.session.add(teacher_Misha)
db.session.add(teacher_Ilya)
db.session.commit()

In [43]:
# SELECT * FROM teacher;
Teacher.query.all()

2019-04-11 20:49:38,127 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 20:49:38,136 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
2019-04-11 20:49:38,140 INFO sqlalchemy.engine.base.Engine {}

[Teacher <1>=<Amir>,
 Teacher <2>=<Zarina>,
 Teacher <3>=<Misha>,
 Teacher <4>=<Ilya>,
 Teacher <5>=<Amir>,
 Teacher <6>=<Zarina>,
 Teacher <7>=<Misha>,
 Teacher <8>=<Ilya>,
 Teacher <9>=<Amir>,
 Teacher <10>=<Zarina>,
 Teacher <11>=<Misha>,
 Teacher <12>=<Ilya>,
 Teacher <13>=<Amir>,
 Teacher <14>=<Zarina>,
 Teacher <15>=<Misha>,
 Teacher <16>=<Ilya>,
 Teacher <17>=<Amir>,
 Teacher <18>=<Zarina>,
 Teacher <19>=<Misha>,
 Teacher <20>=<Ilya>,
 Teacher <21>=<Amir>,
 Teacher <22>=<Zarina>,
 Teacher <23>=<Misha>,
 Teacher <24>=<Ilya>,
 Teacher <25>=<Amir>,
 Teacher <26>=<Zarina>,
 Teacher <27>=<Misha>,
 Teacher <28>=<Ilya>,
 Teacher <29>=<Amir>,
 Teacher <30>=<Zarina>,
 Teacher <31>=<Misha>,
 Teacher <32>=<Ilya>,
 Teacher <33>=<Amir>,
 Teacher <34>=<Zarina>,
 Teacher <35>=<Misha>,
 Teacher <36>=<Ilya>,
 Teacher <37>=<Amir>,
 Teacher <38>=<Zarina>,
 Teacher <39>=<Misha>,
 Teacher <40>=<Ilya>,
 Teacher <41>=<Amir>,
 Teacher <42>=<Zarina>,
 Teacher <43>=<Misha>,
 Teacher <44>=<Ilya>,
 Teacher <45>=<Amir>,
 Teacher <46>=<Zarina>,
 Teacher <47>=<Misha>,
 Teacher <48>=<Ilya>,
 Teacher <49>=<Amir>,
 Teacher <50>=<Zarina>,
 Teacher <51>=<Misha>,
 Teacher <52>=<Ilya>]

In [44]:
# SELECT * FROM teacher ORDER BY name;
Teacher.query.order_by(Teacher.name).all()

2019-04-11 20:49:50,223 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher ORDER BY teacher.name
2019-04-11 20:49:50,235 INFO sqlalchemy.engine.base.Engine {}

[Teacher <25>=<Amir>,
 Teacher <41>=<Amir>,
 Teacher <17>=<Amir>,
 Teacher <21>=<Amir>,
 Teacher <37>=<Amir>,
 Teacher <13>=<Amir>,
 Teacher <45>=<Amir>,
 Teacher <9>=<Amir>,
 Teacher <1>=<Amir>,
 Teacher <49>=<Amir>,
 Teacher <5>=<Amir>,
 Teacher <29>=<Amir>,
 Teacher <33>=<Amir>,
 Teacher <36>=<Ilya>,
 Teacher <32>=<Ilya>,
 Teacher <24>=<Ilya>,
 Teacher <28>=<Ilya>,
 Teacher <20>=<Ilya>,
 Teacher <40>=<Ilya>,
 Teacher <16>=<Ilya>,
 Teacher <44>=<Ilya>,
 Teacher <12>=<Ilya>,
 Teacher <8>=<Ilya>,
 Teacher <48>=<Ilya>,
 Teacher <4>=<Ilya>,
 Teacher <52>=<Ilya>,
 Teacher <43>=<Misha>,
 Teacher <39>=<Misha>,
 Teacher <47>=<Misha>,
 Teacher <51>=<Misha>,
 Teacher <35>=<Misha>,
 Teacher <27>=<Misha>,
 Teacher <31>=<Misha>,
 Teacher <3>=<Misha>,
 Teacher <23>=<Misha>,
 Teacher <7>=<Misha>,
 Teacher <19>=<Misha>,
 Teacher <15>=<Misha>,
 Teacher <11>=<Misha>,
 Teacher <2>=<Zarina>,
 Teacher <50>=<Zarina>,
 Teacher <6>=<Zarina>,
 Teacher <10>=<Zarina>,
 Teacher <46>=<Zarina>,
 Teacher <14>=<Zarina>,
 Teacher <42>=<Zarina>,
 Teacher <18>=<Zarina>,
 Teacher <22>=<Zarina>,
 Teacher <38>=<Zarina>,
 Teacher <26>=<Zarina>,
 Teacher <30>=<Zarina>,
 Teacher <34>=<Zarina>]

In [45]:
# SELECT * FROM teacher WHERE id=2;
Teacher.query.get(2)

Teacher <2>=<Zarina>

In [46]:
# SELECT id FROM teacher WHERE name='Zarina';
t = Teacher.query.filter_by(name='Zarina')

In [47]:
t.all()

2019-04-11 20:49:53,708 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
2019-04-11 20:49:53,717 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina'}

[Teacher <2>=<Zarina>,
 Teacher <6>=<Zarina>,
 Teacher <10>=<Zarina>,
 Teacher <14>=<Zarina>,
 Teacher <18>=<Zarina>,
 Teacher <22>=<Zarina>,
 Teacher <26>=<Zarina>,
 Teacher <30>=<Zarina>,
 Teacher <34>=<Zarina>,
 Teacher <38>=<Zarina>,
 Teacher <42>=<Zarina>,
 Teacher <46>=<Zarina>,
 Teacher <50>=<Zarina>]

In [48]:
import enum
class ThreadEnum(enum.Enum):
    web = 'web'
    ml = 'ml'
    
    def __repr__(self):
        return self.value
    
# CREATE TABLE teacher_lecture (
# 	teacher_id INTEGER NOT NULL, 
# 	lecture_id INTEGER NOT NULL, 
# 	PRIMARY KEY (teacher_id, lecture_id), 
# 	FOREIGN KEY(teacher_id) REFERENCES teacher (id), 
# 	FOREIGN KEY(lecture_id) REFERENCES lecture (id)
# )
    
TeacherLecture = db.Table('teacher_lecture',
    db.Column('teacher_id', db.Integer, db.ForeignKey('teacher.id'), primary_key=True),
    db.Column('lecture_id', db.Integer, db.ForeignKey('lecture.id'), primary_key=True)
)

# CREATE TABLE lecture (
# 	id INTEGER NOT NULL AUTO_INCREMENT, 
# 	name VARCHAR(80) NOT NULL, 
# 	thread ENUM('web','ml'), 
# 	alias VARCHAR(80), 
# 	PRIMARY KEY (id)
# )

class Lecture(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(80), nullable=False)
    thread = db.Column(db.Enum(ThreadEnum))
    alias = db.Column(db.String(80))
    
    teachers = db.relationship(Teacher, secondary=TeacherLecture, lazy='subquery',
        backref=db.backref('lectures', lazy=True))
    

    def __repr__(self):
        return f'{type(self).__name__} <{self.id}>=<{self.name}>'

In [49]:
db.create_all()

2019-04-11 20:50:02,681 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher`
2019-04-11 20:50:02,683 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 20:50:02,692 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher_lecture`
2019-04-11 20:50:02,694 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 20:50:02,701 INFO sqlalchemy.engine.base.Engine DESCRIBE `lecture`
2019-04-11 20:50:02,702 INFO sqlalchemy.engine.base.Engine {}

In [50]:
for row in [
    ('lecture_01', None, 'lecture_01'),
    ('lecture_02', None, 'lecture_02'),
    ('lecture_03', None, 'lecture_03'),
    ('lecture_04', None, 'lecture_04'),
    ('lecture_05', ThreadEnum.web, 'lecture_05_web'),
    ('lecture_06', ThreadEnum.ml, 'lecture_05_ml'),
    ('lecture_07', ThreadEnum.web, 'lecture_06_web'),
    ('lecture_08', ThreadEnum.ml, 'lecture_06_ml'),
    ('lecture_09', ThreadEnum.web, 'lecture_07_web'),
    ('lecture_10', ThreadEnum.ml, 'lecture_07_ml'),
    ('lecture_11', ThreadEnum.web, 'lecture_08_web'),
    ('lecture_12', ThreadEnum.ml, 'lecture_08_ml'),
    ('lecture_13', ThreadEnum.web, 'lecture_09_web'),
    ('lecture_14', ThreadEnum.ml, 'lecture_09_ml'),
    ('lecture_15', ThreadEnum.web, 'lecture_10_web'),
    ('lecture_16', ThreadEnum.ml, 'lecture_10_ml'),
]:
    db.session.add(Lecture(name=row[0], thread=row[1], alias=row[2]))
db.session.commit()

2019-04-11 20:50:05,831 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,835 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_01', 'thread': None, 'alias': 'lecture_01'}
2019-04-11 20:50:05,906 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,908 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_02', 'thread': None, 'alias': 'lecture_02'}
2019-04-11 20:50:05,914 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,915 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_03', 'thread': None, 'alias': 'lecture_03'}
2019-04-11 20:50:05,928 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,929 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_04', 'thread': None, 'alias': 'lecture_04'}
2019-04-11 20:50:05,936 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,937 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_05', 'thread': 'web', 'alias': 'lecture_05_web'}
2019-04-11 20:50:05,943 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,950 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_06', 'thread': 'ml', 'alias': 'lecture_05_ml'}
2019-04-11 20:50:05,956 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,957 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_07', 'thread': 'web', 'alias': 'lecture_06_web'}
2019-04-11 20:50:05,962 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,963 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_08', 'thread': 'ml', 'alias': 'lecture_06_ml'}
2019-04-11 20:50:05,971 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,978 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_09', 'thread': 'web', 'alias': 'lecture_07_web'}
2019-04-11 20:50:05,990 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:05,991 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_10', 'thread': 'ml', 'alias': 'lecture_07_ml'}
2019-04-11 20:50:06,001 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:06,002 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_11', 'thread': 'web', 'alias': 'lecture_08_web'}
2019-04-11 20:50:06,012 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:06,013 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_12', 'thread': 'ml', 'alias': 'lecture_08_ml'}
2019-04-11 20:50:06,023 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:06,024 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_13', 'thread': 'web', 'alias': 'lecture_09_web'}
2019-04-11 20:50:06,030 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:06,030 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_14', 'thread': 'ml', 'alias': 'lecture_09_ml'}
2019-04-11 20:50:06,041 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:06,041 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_15', 'thread': 'web', 'alias': 'lecture_10_web'}
2019-04-11 20:50:06,050 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 20:50:06,050 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_16', 'thread': 'ml', 'alias': 'lecture_10_ml'}
2019-04-11 20:50:06,056 INFO sqlalchemy.engine.base.Engine COMMIT

In [35]:
from sqlalchemy import or_

for name, lectures in [
    ('Misha', ('01', '03', '04', '05_ml')),
    ('Zarina', ('02', '04', '05_web', '06_web', '07_web')),
]:
    # SELECT * FROM teacher WHERE name=<name>;
    teacher = Teacher.query.filter_by(name=name).first()
    conds = [
        Lecture.alias.like(f'%{alias_postfix}')
        for alias_postfix in lectures
    ]
    # SELECT * FROM lecture WHERE alias LIKE '%<alias_postfix>' OR alias LIKE '%<alias_postfix>' OR ...;
    teacher.lectures = Lecture.query.filter(or_(*conds)).all()
db.session.commit()

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (builtins.LookupError) "ThreadEnum.web" is not among the defined enum values
[SQL: INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)]
[parameters: [{'name': 'lecture_05', 'alias': 'lecture_05_web', 'thread': web}]]

In [52]:
# RAW SQL
result = db.engine.execute('SELECT name FROM teacher')
names = [row[0] for row in result]
print(names)

2019-04-11 20:50:42,228 INFO sqlalchemy.engine.base.Engine SELECT name FROM teacher
2019-04-11 20:50:42,235 INFO sqlalchemy.engine.base.Engine {}
['Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya']

In [51]:
db.session.rollback()

In [53]:
from sqlalchemy import func

# SELECT min AS first_create FROM teacher
db.session.query(func.min(Teacher.created).label('first_create')).all()

2019-04-11 20:50:48,637 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 20:50:48,648 INFO sqlalchemy.engine.base.Engine SELECT min(teacher.created) AS first_create
FROM teacher
2019-04-11 20:50:48,657 INFO sqlalchemy.engine.base.Engine {}

[(datetime.datetime(2019, 4, 11, 19, 59, 53))]

In [18]:
# SELECT teacher_id AS teacher, count(lecture_id) FROM teacher_lecture GROUP BY teacher_id
db.session.query(Teacher.name.label('teacher'), func.count(Lecture.id)).join(Teacher.lectures).group_by(Teacher.id).all()

2019-04-11 18:51:48,353 INFO sqlalchemy.engine.base.Engine SELECT teacher.name AS teacher, count(lecture.id) AS count_1
FROM teacher INNER JOIN teacher_lecture AS teacher_lecture_1 ON teacher.id = teacher_lecture_1.teacher_id INNER JOIN lecture ON lecture.id = teacher_lecture_1.lecture_id GROUP BY teacher.id
2019-04-11 18:51:48,361 INFO sqlalchemy.engine.base.Engine {}

[('Zarina', 5), ('Misha', 4)]

In [19]:
# RAW SQL
result = db.engine.execute(
    '''
    SELECT t.name AS teacher, count(lecture_id)
    FROM teacher_lecture as tl
    INNER JOIN teacher as t ON tl.teacher_id=t.id
    GROUP BY teacher_id
    '''
)
result

2019-04-11 18:51:51,266 INFO sqlalchemy.engine.base.Engine
    SELECT t.name AS teacher, count(lecture_id)
    FROM teacher_lecture as tl
    INNER JOIN teacher as t ON tl.teacher_id=t.id
    GROUP BY teacher_id

2019-04-11 18:51:51,270 INFO sqlalchemy.engine.base.Engine {}

In [20]:
[row for row in result]

[('Zarina', 5), ('Misha', 4)]

# UPDATE

In [21]:
Teacher.query.filter_by(name='Zarina').first().age

2019-04-11 18:51:55,209 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:51:55,216 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}

20

In [22]:
Teacher.query.filter_by(name='Zarina').update({'age': '22'})
db.session.commit()
Teacher.query.filter_by(name='Zarina').first().age
db.session.commit()

2019-04-11 18:51:57,761 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:51:57,763 INFO sqlalchemy.engine.base.Engine {'param_1': 4}
2019-04-11 18:51:57,768 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:51:57,770 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-04-11 18:51:57,776 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:51:57,777 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 18:51:57,781 INFO sqlalchemy.engine.base.Engine UPDATE teacher SET age=%(age)s, updated=%(updated)s WHERE teacher.name = %(name_1)s
2019-04-11 18:51:57,782 INFO sqlalchemy.engine.base.Engine {'age': '22', 'updated': datetime.datetime(2019, 4, 11, 18, 51, 57, 781479), 'name_1': 'Zarina'}
2019-04-11 18:51:57,785 INFO sqlalchemy.engine.base.Engine COMMIT
2019-04-11 18:51:57,795 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:51:57,796 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:51:57,797 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}
2019-04-11 18:51:57,800 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
db.engine.execute("UPDATE teacher SET age=21 WHERE name='Zarina'")

2019-04-11 18:52:00,035 INFO sqlalchemy.engine.base.Engine UPDATE teacher SET age=21 WHERE name='Zarina'
2019-04-11 18:52:00,044 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:52:00,053 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
Teacher.query.filter_by(name='Zarina').first().age

2019-04-11 18:52:01,906 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:52:01,910 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:52:01,912 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}

21

# DELETE

In [25]:
Teacher.query.filter_by(name='Zarina').delete()

2019-04-11 18:52:05,835 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:05,838 INFO sqlalchemy.engine.base.Engine {'param_1': 4}
2019-04-11 18:52:05,850 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:05,854 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-04-11 18:52:05,864 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:05,867 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 18:52:05,875 INFO sqlalchemy.engine.base.Engine DELETE FROM teacher WHERE teacher.name = %(name_1)s
2019-04-11 18:52:05,878 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina'}

IntegrityError: (pymysql.err.IntegrityError) (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`atom_db`.`teacher_lecture`, CONSTRAINT `teacher_lecture_ibfk_1` FOREIGN KEY (`teacher_id`) REFERENCES `teacher` (`id`))')
[SQL: DELETE FROM teacher WHERE teacher.name = %(name_1)s]
[parameters: {'name_1': 'Zarina'}]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [26]:
db.session.add(Teacher(name='Test', surname='Abc', age=20))
db.session.commit()

2019-04-11 18:52:10,604 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 18:52:10,612 INFO sqlalchemy.engine.base.Engine {'name': 'Test', 'surname': 'Abc', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 18, 52, 10, 603796), 'updated': datetime.datetime(2019, 4, 11, 18, 52, 10, 603854)}
2019-04-11 18:52:10,627 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
qs = Teacher.query.filter_by(name='Test')

In [28]:
qs.all()

2019-04-11 18:52:13,783 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:52:13,791 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
2019-04-11 18:52:13,797 INFO sqlalchemy.engine.base.Engine {'name_1': 'Test'}

[Teacher <5>=<Test>]

In [29]:
qs.first()

2019-04-11 18:52:16,667 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:52:16,671 INFO sqlalchemy.engine.base.Engine {'name_1': 'Test', 'param_1': 1}

Teacher <5>=<Test>

In [30]:
qs.delete()

2019-04-11 18:52:18,883 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:18,890 INFO sqlalchemy.engine.base.Engine {'param_1': 4}
2019-04-11 18:52:18,907 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:18,908 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-04-11 18:52:18,916 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:18,917 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 18:52:18,924 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:18,925 INFO sqlalchemy.engine.base.Engine {'param_1': 2}
2019-04-11 18:52:18,929 INFO sqlalchemy.engine.base.Engine DELETE FROM teacher WHERE teacher.name = %(name_1)s
2019-04-11 18:52:18,930 INFO sqlalchemy.engine.base.Engine {'name_1': 'Test'}

1

# Session and transaction

In [31]:
from contextlib import contextmanager
from functools import wraps


@contextmanager
def transaction(session=db.session):
    session.begin(nested=session.is_active)
    try:
        yield
    except:
        session.rollback()
        raise
    else:
        session.commit()


def transactional(f):
    @wraps(f)
    def wrapper(*args, **kwargs):
        with transaction():
            return f(*args, **kwargs)
    return wrapper

In [32]:
with transaction():
    Teacher.query.filter_by(name='Zarina').update({'age': '22'})

2019-04-11 18:52:26,479 INFO sqlalchemy.engine.base.Engine SAVEPOINT sa_savepoint_1
2019-04-11 18:52:26,481 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:52:26,484 INFO sqlalchemy.engine.base.Engine UPDATE teacher SET age=%(age)s, updated=%(updated)s WHERE teacher.name = %(name_1)s
2019-04-11 18:52:26,485 INFO sqlalchemy.engine.base.Engine {'age': '22', 'updated': datetime.datetime(2019, 4, 11, 18, 52, 26, 484276), 'name_1': 'Zarina'}
2019-04-11 18:52:26,487 INFO sqlalchemy.engine.base.Engine RELEASE SAVEPOINT sa_savepoint_1
2019-04-11 18:52:26,490 INFO sqlalchemy.engine.base.Engine {}

In [33]:
from contextlib import contextmanager

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker


some_engine = create_engine(app.config['SQLALCHEMY_DATABASE_URI'])

Session = sessionmaker(bind=some_engine)

@contextmanager
def transaction(session=None):
    session = session or Session()
    session.begin(nested=session.is_active)
    try:
        yield session
    except:
        session.rollback()
        raise
    else:
        session.commit()

In [34]:
with transaction() as session:
    for teacher in session.query(Teacher):
        print(teacher)

Teacher <1>=<Amir>
Teacher <2>=<Zarina>
Teacher <3>=<Misha>
Teacher <4>=<Ilya>
Teacher <5>=<Test>

In [35]:
# TODO
# 1.   
# CREATE TABLE student (
# 	id INTEGER NOT NULL AUTO_INCREMENT,
# 	created DATETIME DEFAULT now(), 
# 	updated DATETIME DEFAULT now(),
# 	name VARCHAR(80) NOT NULL, 
# 	surname VARCHAR(80) NOT NULL, 
# 	course_number INTEGER NOT NULL,
# 	thread enum('web','ml') DEFAULT NULL,
# 	last_updated DATETIME,
# 	PRIMARY KEY (id)
# )
# 
# 2.    :
#     'username': 'root'
#     'password': 'atom_pass'
#     'host': '  '
#     'dbname': 'atom_db'
# 
# 3.  ORM     student
# 
# 4.  ORM      student
#    SELECT MAX(updated) FROM student
# 
# 5.  ORM      last_updated       4
#

# Validation

In [54]:
from datetime import date
from marshmallow import Schema, fields, pprint

class TeacherSchema(Schema):
    name = fields.Str(required=True)
    surname = fields.Str()
    
    def __repr__(self):
        return "<TeacherSchema(name={self.name!r})>".format(self=self)

    
data = {'name': 'Dima'}
result = TeacherSchema().load(data)
print(result)

UnmarshalResult(data={'name': 'Dima'}, errors={})

In [55]:
# 
data = {'name': "Andrey"}
load_data = TeacherSchema().load(data).data
print(load_data)

{'name': 'Andrey'}

In [56]:
#   
data = {'surname': 123}
TeacherSchema().dump(data).data

{'surname': '123'}