# MPG Cars

### Intro:

data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Импортируем необходимое

In [1]:
import pandas as pd
import numpy as np

### Step 2. Скачайте датасет [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
!wget https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv
!wget https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv

--2019-04-09 02:56:57--  https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.36.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.36.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10163 (9,9K) [text/plain]
Saving to: 'cars1.csv.1'

     0K .........                                             100% 1,21M=0,008s

2019-04-09 02:56:58 (1,21 MB/s) - 'cars1.csv.1' saved [10163/10163]

--2019-04-09 02:56:58--  https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.36.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.36.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9383 (9,2K) [text/plain]
Saving to: 'cars2.csv.1'

     0K .........                                             100% 1007K=0,009s

2019-04-09 02:56:59 (1007 KB/s) - 'cars2.csv.1' saved [9383/9383]

   ### Step 3. Загрузим каждый в переменные cars1 и cars2

In [5]:
cars1 = pd.read_csv("./cars1.csv")
cars2 = pd.read_csv("./cars2.csv")

In [6]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [7]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. В первом датасете проблемы с пустыми колонками. Пофиксим

In [8]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. Число наблюдей в каждом датасете?

In [9]:
print (cars1.shape)
print (cars2.shape)

(198, 9)
(200, 9)

### Step 6. Объедините cars1 and cars2 в один DataFrame и положите в переменную cars

In [15]:
cars = cars1.append(cars2)
cars.shape

(398, 9)

### Step 7. Создадим Series со случайными значениями от 15,000 до 73,000 размером cars

In [12]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([69588, 68613, 33760, 20177, 31365, 44589, 67272, 58462, 70153,
       22557, 57795, 62435, 62020, 72744, 47612, 23503, 15134, 26080,
       30199, 26308, 68913, 44889, 55794, 35840, 42724, 47480, 45344,
       49029, 68606, 24226, 17728, 27551, 53214, 66101, 62137, 56167,
       36332, 65104, 57161, 25145, 17378, 26842, 71585, 23620, 50726,
       39333, 61132, 47151, 17756, 25359, 25990, 46004, 55021, 45970,
       23482, 62787, 18946, 26545, 70063, 24582, 18046, 44037, 56742,
       72798, 56407, 53358, 69393, 43866, 72284, 63421, 54091, 29592,
       47402, 37361, 32601, 57669, 50298, 62992, 57556, 65491, 25436,
       56580, 56811, 67464, 16496, 62466, 60179, 16917, 72950, 47478,
       23916, 62783, 71547, 28475, 41091, 62238, 50061, 30033, 38563,
       43415, 45648, 21010, 64078, 18106, 43110, 55380, 42313, 23097,
       68415, 16312, 42644, 58786, 26804, 32190, 21371, 72867, 70335,
       59053, 52225, 34033, 53871, 22351, 37193, 59983, 62061, 15742,
       69517, 55487, 38006, 41440, 67764, 67803, 67925, 20005, 35838,
       69221, 62666, 62539, 42046, 29717, 50881, 42143, 43326, 48398,
       23480, 49152, 30953, 52678, 38113, 47596, 60482, 16745, 21674,
       41460, 48451, 51616, 54283, 18728, 54612, 24527, 68857, 27484,
       26726, 17927, 33297, 19236, 46164, 26759, 17540, 21000, 51999,
       72477, 60321, 42797, 43514, 72260, 37885, 31079, 15602, 26201,
       31054, 65202, 63575, 19080, 38572, 29056, 58902, 70921, 34744,
       56199, 70220, 71268, 16634, 72957, 69418, 27261, 59290, 70950,
       34787, 23735, 19205, 61964, 45783, 64758, 54797, 19481, 56863,
       35860, 66161, 67033, 63681, 36494, 32782, 38531, 35626, 37980,
       52626, 20533, 19935, 70726, 19107, 45520, 42013, 38463, 15553,
       57459, 24925, 38489, 19629, 72001, 41649, 37069, 20639, 25099,
       47955, 49366, 37610, 71679, 66756, 55019, 25724, 29850, 52286,
       34939, 65000, 37856, 44953, 36857, 42414, 41633, 18681, 18700,
       65847, 51746, 52371, 29195, 32809, 38932, 44168, 48694, 55292,
       19223, 53035, 69133, 22578, 24248, 38586, 16614, 55831, 67328,
       15567, 67739, 15907, 16913, 36343, 57268, 19234, 22757, 47795,
       16473, 31025, 43572, 47342, 57661, 23139, 18106, 36758, 32404,
       30466, 67848, 64933, 68253, 63016, 39625, 25749, 21646, 71938,
       27397, 33655, 68583, 21352, 58020, 36866, 22826, 37105, 23269,
       65881, 51110, 28575, 34612, 64128, 50727, 65255, 62195, 21634,
       54237, 72275, 56825, 23961, 22600, 63142, 37194, 57646, 28939,
       17727, 64939, 62458, 25590, 34284, 17473, 21556, 70419, 50573,
       23922, 21812, 42131, 20375, 15343, 20839, 65501, 24999, 50143,
       21523, 48867, 19037, 34543, 45028, 58766, 32014, 59421, 35109,
       49474, 34703, 30766, 29453, 45526, 40424, 48424, 23062, 50664,
       72270, 64713, 16714, 67773, 27715, 28718, 66319, 58080, 32764,
       28311, 53226, 44283, 24383, 49137, 63128, 64787, 62419, 52967,
       37943, 63842, 23337, 63740, 68611, 23860, 33029, 30723, 24338,
       67856, 69198, 59755, 65917, 71563, 42241, 36200, 28851, 17528,
       68037, 72391])

### Step 8. Добавим колонку Owners

In [14]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,36200
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,28851
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,17528
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,68037
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,72391