# United States - Crime Rates - 1960 - 2014

### Intro:

Спасибо https://github.com/justmarkham за датасет и материалы

### Step 1. Импортируйте либы

In [42]:
import numpy as np
import pandas as pd
import datetime

### Step 2. Импортируйте датасет отсюда [link](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Загрузите в переменную crime

In [129]:
crime = pd.read_csv('US_Crime_Rates_1960_2014.csv', sep=",")
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. Посмотрите на тип колонок.

In [130]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Year в типе int64. У pandas есть встроенный тип для работы с Временными рядами (Time Series)

### Step 5. Конвертируйте тип Year в pd.datetime64

In [131]:
crime1 = pd.to_datetime(crime['Year'], format = "%Y")

In [132]:
crime1.head()

0   1960-01-01
1   1961-01-01
2   1962-01-01
3   1963-01-01
4   1964-01-01
Name: Year, dtype: datetime64[ns]

In [133]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Step 6. Установите Year как index нашего датафрейма

In [134]:
crime = crime.set_index('Year')

In [135]:
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Удалите колонку Total

In [136]:
del crime['Total']

In [137]:
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Сгруппируйте года по декадам и просуммируйте некоторые значения.

#### Осторожнее с Population, суммирование этой колонки - неправильно. Что вместо этого с ней лучше сделать?

In [176]:
decade_group = crime.groupby(crime.index // 10)
population_in_decade = decade_group.Population.mean()
population_in_decade

Year
196    191505317.5
197    212119329.8
198    237137006.9
199    261282525.8
200    294796911.7
201    314029261.4
Name: Population, dtype: float64

In [169]:
murders_in_decade = decade_group.Murder.sum()
murders_in_decade

Year
196    106180
197    192230
198    206439
199    211664
200    163068
201     72867
Name: Murder, dtype: int64

In [170]:
Robbery_in_decade = decade_group.Robbery.sum()
Robbery_in_decade

Year
196    1633510
197    4159020
198    5383109
199    5748930
200    4230366
201    1749809
Name: Robbery, dtype: int64

### Step 9. Какая самая опасная декада в US?

In [179]:
crimes = decade_group[crime.columns[1:]].sum()

In [191]:
crimes_total = crimes.sum(axis=1)
crimes_total

Year
196     98591660
197    201983370
198    262246703
199    273162730
200    229828783
dtype: int64

In [192]:
max(crimes_total)

273162730

In [193]:
"90-e - не удивительно:D"

'90-e - не удивительно:D'