# United States - Crime Rates - 1960 - 2014

### Intro:

Спасибо https://github.com/justmarkham за датасет и материалы

### Step 1. Импортируйте либы

In [24]:
import pandas as pn
import numpy as np

### Step 2. Импортируйте датасет отсюда [link](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [3]:
!wget https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv

--2019-04-16 05:05:11--  https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.36.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.36.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5052 (4,9K) [text/plain]
Saving to: 'US_Crime_Rates_1960_2014.csv.2'

     0K ....                                                  100%  606K=0,008s

2019-04-16 05:05:11 (606 KB/s) - 'US_Crime_Rates_1960_2014.csv.2' saved [5052/5052]

### Step 3. Загрузите в переменную crime

In [46]:
crime = pn.read_csv('US_Crime_Rates_1960_2014.csv', sep=',')

### Step 4. Посмотрите на тип колонок.

In [47]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Year в типе int64. У pandas есть встроенный тип для работы с Временными рядами (Time Series)

### Step 5. Конвертируйте тип Year в pd.datetime64

In [48]:
crime.Year = pn.to_datetime(crime.Year)

### Step 6. Установите Year как index нашего датафрейма

In [49]:
crime.set_index('Year', inplace=True)

### Step 7. Удалите колонку Total

In [50]:
del crime['Total']
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1970-01-01 00:00:00.000001960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1970-01-01 00:00:00.000001961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1970-01-01 00:00:00.000001962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1970-01-01 00:00:00.000001963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1970-01-01 00:00:00.000001964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Сгруппируйте года по декадам и просуммируйте некоторые значения.

#### Осторожнее с Population, суммирование этой колонки - неправильно. Что вместо этого с ней лучше сделать?

In [91]:
dict_agg = {x: ['sum'] for x in list(crime.columns.drop('Population'))}
dict_agg['Population'] = 'mean'
crime.groupby(lambda x: x // 10).agg(dict_agg)

,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft,Population
,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,mean
196,49295900,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100,191505317.5
197,100991600,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900,212119329.8
198,131123369,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411,237137006.9
199,136582146,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418,261282525.8
200,115012044,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834,294796911.7
201,50167967,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080,314029261.4

### Step 9. Какая самая опасная декада в US?

In [53]:
crime = pn.read_csv('./US_Crime_Rates_1960_2014.csv', sep = ',', index_col=0)
print('result: {}'.format(crime.groupby(lambda x: x // 10).agg({'Total': 'mean'}).idxmax()['Total']))

result: 199