# United States - Crime Rates - 1960 - 2014

### Intro:

Спасибо https://github.com/justmarkham за датасет и материалы

### Step 1. Импортируйте либы

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Импортируйте датасет отсюда [link](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [2]:
# !curl https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv

### Step 3. Загрузите в переменную crime

In [3]:
crime = pd.read_csv("US_Crime_Rates_1960_2014.csv", sep=",")

### Step 4. Посмотрите на тип колонок.

In [4]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Year в типе int64. У pandas есть встроенный тип для работы с Временными рядами (Time Series)

### Step 5. Конвертируйте тип Year в pd.datetime64

In [5]:
crime["Year"] = pd.to_datetime(crime["Year"], format="%Y")

### Step 6. Установите Year как index нашего датафрейма

In [6]:
crime = crime.set_index("Year")

### Step 7. Удалите колонку Total

In [7]:
crime = crime.drop(columns="Total")

### Step 8. Сгруппируйте года по декадам и просуммируйте некоторые значения.

#### Осторожнее с Population, суммирование этой колонки - неправильно. Что вместо этого с ней лучше сделать?

In [8]:
crime.drop(columns="Population").groupby((crime.index.year//10)*10).sum()

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,
1960,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

In [9]:
crime.groupby((crime.index.year//10)*10)["Population"].mean()

Year
1960    191505317.5
1970    212119329.8
1980    237137006.9
1990    261282525.8
2000    294796911.7
2010    314029261.4
Name: Population, dtype: float64

### Step 9. Какая самая опасная декада в US?

In [10]:
crime.drop(columns="Population").groupby((crime.index.year//10)*10).sum().sum(axis=1).idxmax()

1990